body {
  background-color: #eee;
  padding-top: 60px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Domine', serif;
}
	
	.title {
		font-size: 18px;
	}

	.page-header > h1 {
		font-size: 45px;
	}
	
	.header-logo {
		width: 60px;
	}
	
hr {
	margin: 20px 0 10px 0;
}

pre {
	font-family: inherit;
	font-size: inherit;
	background: inherit;
	border: inherit;
}

.page-heading {
	margin-bottom: 20px;
}
	
	
.home {
	padding: 10px 20px;
}

.nav-logo {
	width: 40px;
	margin: 5px 20px 0 10px;
}

.navbar-brand {
	cursor: default;
}

.dropdown-toggle {
	cursor: pointer;
}

.emphasis {
	font-weight: 900px;
	font-size: 21px;
}

.btn-toolbar {
	float: right;
	margin-right: 10px;
}

.glyphicon-left {
	margin-right: 4px;
}

.glyphicon-right {
	margin-left: 4px;
}

.project-icon {
	width: 40px;
}

.view-project-icon {
	float: left;
	margin-right: 20px;
}

.view-task-icon {
	width: 30px;
	float: left;
	margin-right: 10px;
}

.underline {
	text-decoration: underline;
}

.box {
	margin-top: 5px;
	background: #f9f9f9;
	padding: 10px 15px 20px 15px;
    -webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
			
    -webkit-box-shadow: 0 10px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.footer {
	padding: 20px 40px;
	margin-top: 15px;
  
	background-color: #F8F8F8;
    -webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

	.footer a {
		font-weight: 700;
	}
	
	.footer h5 {
		font-weight: 800;
	}
	
	.footer > .row > p {
		margin-top: 10px;
	}
	
	.footer ul {
		margin-bottom: 0px !important;
	}
	
	#logo {
		width: 80px;
		margin-left: 23px;
		margin-top: 10px;
	}
	
.link {
	display: block;
	color: #000;
	min-height: 65px;
}

	.link:hover {
		text-decoration: none;
		color: inherit;
	}
	
.courier-thumb {
	padding-right: 12px;
}

.footer-flag {
	position: relative;
	top: -2px;
	left: 5px;
}

.back, .spacing-bottom-10 {
	margin-bottom: 10px;
}


.spacing-top-10 {
	margin-top: 10px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


.area-link {
	color: inherit;
	display: block;
}

.carousel-inner > .item > img { margin: 0 auto; }

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.nav-justified > li > a {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  background-color: #e5e5e5; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
  color: #fff !important;
  background-color: #cb2f2f !important; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #cb3d3d 0%, #cb2f2f 100%) !important; /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb3d3d), color-stop(100%,#cb2f2f)) !important; /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #cb3d3d 0%,#cb2f2f 100%) !important; /* Chrome 10+,Safari 5.1+ */
  background-image: -o-linear-gradient(top, #cb3d3d 0%,#cb2f2f 100%) !important; /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb3d3d', endColorstr='#cb2f2f',GradientType=0 ) !important; /* IE6-9 */
  background-image: linear-gradient(top, #cb3d3d 0%,#cb2f2f 100%) !important; /* W3C */
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

.nav-justified > li > form {
	margin: auto;
	padding: auto;
}

.input-font-large {
	font-size: 16px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
}

.spacing-left-5 {
	margin-left: 5px;
}

.spacing-left-10 {
	margin-left: 10px;
}

.spacing-top-5 {
	margin-top: 5px;
}
.spacing-top-10 {
	margin-top: 10px;
}
.spacing-top-15 {
	margin-top: 15px;
}
.spacing-top-20 {
	margin-top: 20px;
}

.spacing-bottom-5 {
	margin-bottom: 5px;
}
.spacing-bottom-10 {
	margin-bottom: 10px;
}
.spacing-bottom-15 {
	margin-bottom: 15px;
}
.spacing-bottom-20 {
	margin-bottom: 20px;
}
.spacing-bottom-25 {
	margin-bottom: 25px;
}

.nav-spacer {
	width: 20px;
}

.input-six {
	width: 56px;
}

.modal.in {
   display:block;
}

.collapse-form {
	margin-top: 15px;
}

.spaced-list li {
	padding-right: 10px;
	padding-bottom: 5px;
}

.text-center {
	text-align: center;
}

dl.dl-modal {
	margin-top: 20px;
	margin-bottom: 0;
}

	.dl-modal dt {
		margin-top: 8px;
	}
				
@media (max-width: 990px) {
	
	div.add-time .add-time-row {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
	div.add-time input, div.add-time select {
		margin-bottom: 10px;
	}
}

@media (max-width: 768px) {

	div.add-time-button {
		margin-top: 25px;
	}
}