@import 'bootstrap/mixins.less';

// XS (max-width: 768px)
// SM
// MD
// LG

strong.total {
	font-size: 14px;
}

.tooltip-inner {
	padding: 5px;
}

textarea {
	resize: vertical;
}

ul.navbar-nav {
	li {
		border-right: 1px solid #f1f1f1;
	}
}

.modal-body {
	.clearfix();
}

button.delete-time, button.delete-cost {
	margin-left: 10px;
	
	@media (max-width: 768px) {
		margin-left: 0;
		margin-top: 10px;	
	}
}

button.update-time, button.delete-time, button.update-cost, button.delete-cost {
	position: relative;	
	height: 30px;
	width: 34px;
}

.table-central {
	th, td {
		text-align: center;
	}
}

.btn-back {
	margin-right: 15px;
}

.info-list {
	li {
		padding: 0 10px;
		border-right: 1px solid #e3e3e3;
	
		&:last-child {
			border-right: none;
		}
	}
}

.has-feedback .form-control-feedback {

	&.feedback-fix {
		top: 0;
		right: 13px;
	}
}

.action-wrapper
{
	a {
		&:hover {
			text-decoration: none;
		}
	}
	.action {
		text-align: center;
		padding: 20px 0;
		//background: #8CB1D1;
		//background-color: #f0f0f0;
		//border: 2px solid #dddddd;
		.border-radius(10px);
		
		
		@media (max-width: 767px) {
			margin: 15px 0;
		}
		
		
		span {
			font-size: 72px;
		}
		
		span, h2 {
			color: #000;
		}
	}
}

.project_dept {
	cursor: pointer;
}
.project_users {
	border-left: 3px solid darken(#d9edf7, 10%);

}


.time-panel {
	background: #fff;
	border: 1px solid #ddd;
	padding: 0 5px 5px 5px;
    -webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
			
    -webkit-box-shadow: 0 10px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);

	
	.time-panel-head {
		padding-left: 10px;
	}
	
	.time-panel-dept {
		
		padding: 1px 10px 5px 10px;
		background: lighten(#d9edf6, 5%);
		border: 1px solid #d1d1d1;
		margin: 10px 0;
		cursor: pointer;
		padding-left: 15px;
		.border-radius(6px);

		table {
			.border-radius(6px);
			border: 1px solid #d1d1d1;
			background: #f1f1f1;
		}
	}
	
		.collapse-indicator {
			float: right;
			position: relative;
			top: 25px;
			right: 10px;
		}
	
	.time-panel-users {
		background: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
	}
}


@media (max-width: 1199px) {

	div.add-cost .add-cost-row {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
	div.add-cost input, div.add-cost select {
		margin-bottom: 10px;
	}
}


// XS
@media (max-width: 767px) {
	input[name*="reason"] {
		margin-top: 10px;
	}
}


.ui-autocomplete {
	z-index: 2000;
}

#by_period {
	display: inline-block;
}
#days_label {
	margin: 15px 0 4px 0;
}

tr.deactivated {
	td {
		background: lighten(grey, 38%) !important;
	}
	&:hover {
		td {
			background: lighten(grey, 40%) !important;
		}
	}
	a.btn {
		background: #ebebeb;
	}
}